body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.landingPage,
.landingIntro,
.section--2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.introInner,
.section--2,
.section2Frame1,
.section2Frame2,
.section2Frame3,
.section2Frame4,
.section2Frame5,
.section2Frame6 {
  opacity: 0;
  visibility: hidden;
}
.landingInner,
.introInner,
.Frame1InroductionPart2 {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.line1,
.line2,
.line4 {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
