@font-face {
  font-family: "Univia";
  src: url("./fonts/UniviaPro-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue55Roman";
  src: url("./fonts/HelveticaNeueLT-55Roman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueLT";
  src: url("./fonts/HelveticaNeueLTStd-Lt.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
